:root
{
  --Primaria-Azul-Escuro: #0d1422;
  --Fundo: #0F172A;
  --Cards-Azul-Escuro: #07142b;
  --Azul-Destaque-Vivo: #169cff;
  --Cinza-Claro: #656c76;
  --Cinza-Medio: #a2a0a2;
  --Branco: #ffffff;
  --Preto: #000000;

  /* cores de textos */
  --verde_text: #00ff88;
  --azul_text: #00c8ff;
  --azul_escuro_text: #00c8ff60;
  --verde_escuro_text: #00ff8860;
}

[data-theme="light"]
{
  --Texto: #0F172A;
  --Botão: #54CA7B;
  --Fundo: #F3F2F3;
  --FundoDestaque: #eef2f770;
}

body
{
  border: 0;
  margin: 0;
  background-color: var(--Fundo);
  /* overflow-x: hidden; */
}
