:root
{
  --Primaria-Azul-Escuro: #0d1422;
  --Fundo: #0F172A;
  --Cards-Azul-Escuro: #101a2c;
  --Azul-Destaque-Vivo: #169cff;
  --Cinza-Claro: #656c76;
  --Cinza-Medio: #a2a0a2;
  --Branco: #ffffff;
  --Preto: #000000;
}

body
{
  border: 0;
  margin: 0;
  background-color: var(--Fundo);
}