/* ConteudoLogin.module.css — inspirado 100% no Cadastro */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.corpo {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-quarto);

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    font-family: "Montserrat", sans-serif;
    padding-top: 120px;
}

.container {
    width: 70%;
    height: 100%;
    max-width: 520px;
    text-align: center;
    align-self: center;

    border: 1px solid var(--texto-principal);
    background-color: var(--bg-terceiro);

    padding-right: 30px;
    padding-left: 30px;
    border-radius: 30px;

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.637);

}


.container h1 {
    color: var(--texto-principal);
    font-size: clamp(2rem, 5vw, 3rem);
    margin: 30px 0px;
    text-shadow: 2px 2px 8px white;
}


.container p {
    color: var(--texto-principal);
    text-align: start !important;
    left: 0;
    font-size: 26px;
    font-weight: 700;
}


.inputClasse {
    width: 100%;
    height: 7vh;
    max-height: 48px;
    margin: 2px 0px 20px 0px;
    padding: 0 20px;

    background: var(--input-bg);
    border: 1px solid var(--borda);
    border-radius: 6px;

    font-size: 16px;
    text-indent: 20px;

    transition: 0.2s;
    box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.5);
}

.inputClasse:focus {
    outline: none;
}


.senhaWrapper {
    position: relative;
    margin-top: 15px;
}

.senhaWrapper input {
    width: 100%;
    margin-top: 0 !important;
}

.imgSenha {
    position: absolute;
    right: 10px;
    top: 38%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 22px;
    opacity: 0.7;
}

.imgSenha:hover {
    opacity: 1;
}

.Esqueceu {
    text-align: end;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.Esqueceu p {
    color: var(--texto-principal);
    text-decoration: underline;
    opacity: 0.8;
    transition: opacity 0.2s;
    font-size: 18px !important;
}

.Esqueceu a:hover {
    opacity: 1;
}

/* ===== BOTÃO ===== */

.btnLogar {
    width: 70%;
    height: 5vh;

    background: var(--bg-principal);
    border: none;
    border-radius: 28px;
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 20px;
    font-weight: bold;
    color: var(--texto-principal);

    transition: 0.3s;
    cursor: pointer;
}

.btnLogar:hover {
    color: var(--texto-principal);
    transform: scale(1.06);
    transition: 0.3s;
}

.btnLogar:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.Cadastrar {
    color: var(--texto-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0px;
    text-align: center;
    font-size: 18px !important;
}

.Cadastrar a {
    color: var(--texto-principal);
    font-weight: 700;
    margin-left: 10px;
}

.outrasFormasLogin {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.outrasFormasLogin img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s;
}

.outrasFormasLogin img:hover {
    transform: scale(0.90);
}

@media (max-width: 700px) {
    
    .corpo{
        width: 92vw;
        padding-bottom: 30px;
    }

    .container {
        width: 82%;
        margin-top: 100px;
        padding-bottom: 60px;
    }

    .inputClasse {
        height: 45px;
        font-size: 14px;
    }

    .btnLogar {
        height: 50px;
        font-size: 18px;
        width: 80%;
    }

    .imgSenha {
        width: 16px;
    }

    .container p {
        font-size: 20px;
    }

    .container h1 {
        margin: 20px 0;
    }

    .Cadastrar{
        font-size: 13px;
    }
}