@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.Rodape
{   
    padding-left: 10px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start;

    gap: 15px;
    padding: 20px;

    /* background-color: var(--bg-principal); */
    color: var(--texto-secundario);
    background-color: var(--Rodape);

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;

    border-top: 1px solid rgba(0, 0, 0, 0.24);

    /* border-top-left-radius: 60px;
    border-top-right-radius: 60px; */
}

.Container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
    margin-left: 20px;
}

.Rodape img
{
    width: 44px;
    height: 44px;
}

.links
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.links p
{
    margin:0;
    padding: 3px;
    /* color: var(--texto-secundario); */
}

.Marca
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    /* max-width: 250px; */
    margin-right: 20px;
}

.Marca p{
    /* margin-left: 30px   ; */
    width: 350px;
    text-align: center;
    margin-top: 30px;
}

.Colunas {
    display: flex;
    gap: 80px;
}

.Colunas div.informacoes {
    display: flex;
    flex-direction: column; 
    gap: 8px;
    /* column-count: 2; */
}



h5 {
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 20px;
    color: var(--texto-principal);
}

.Colunas p{
    font-size: 15px;
}

.QR {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
}

.QR img{
    width: 100px;
    height: 100px;
}

.Copy {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
}

.Rodape h4
{
    font-size: 30px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: transparent;
    background: linear-gradient(135deg, #00ff88, #00c8ff);
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: 10px;
}

.Rodape a
{
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--texto-principal);
}

.Copy{
    font-size: 13px;
}

.informacoes{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align:end ;
    margin-bottom: 10px;
}

.informacoes h5{
    color: var(--texto-secundario);
    text-align: start;
}

@media (max-width: 800px){
    .Container{
        flex-direction: column;
        margin-left: 0px;
    }

    .Marca{
        margin: auto;
    }

    .Marca p{
        display: none;
    }

    .informacoes{
        align-content: flex-start;
    }

    .informacoes h5{
        text-align: start;
    }

    .informacoes p{
        text-align: start;
    }
    
}