@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.Rodape
{   
    padding-left: 10px;
    /* bottom: 0;
    position: relative; */
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 10px;
    background-color: var(--Primaria-Azul-Escuro);
    color: var(--Branco);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

.Rodape img
{
    width: 44px;
    height: 44px;
}

.links
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.links p
{
    margin:0;
    padding: 3px;
}

.Marca
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.Rodape h4
{
    font-size: 20px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.Rodape a
{
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--Branco);
}