@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

.corpo
{
    width: 100%;
    height: 91vh; 
    background: var(--bg-principal);
    background-color: var(--fundo_principal);
    display: flex;
    justify-content: center;
    overflow-x: hidden;

    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
}

.container
{
    width: 70%;
    /* height: auto; */
    border: solid var(--Branco);    
    margin-bottom: 15px;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 15px;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    gap: 10px;
    overflow: hidden;
    position: relative;
}

.foto
{
    width: 150px;
    border-radius: 50%;
    margin-left: 20px;

    position: absolute;
    top: -60px;
    /* left: 20px; */
    cursor: pointer;

    border: 4px solid var(--bg-principal);
}

.escondido
{
    display: none;
}

.texto{
    margin-left: 200px;
    color: var(--Branco);
    margin-top: 3px;
    /* display: flex;
    flex-direction: column; */
}

.info{
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 20px
}

.Logofundo
{
    width: 100%;
    height: 150px;
    border: solid var(--Branco);
    border-bottom-width: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    object-fit: cover;
}

.Logofundo img{
    width: 100%;
    height: 100%;
}

.status {
    display: flex;
    align-items: center;
    gap: 6px;
}

.bolinha {
    width: 10px;
    height: 10px;
    background-color: #22c55e;
    border-radius: 50%;
}

.blocos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    color: var(--texto-principal);
    width: 100%;
    margin-top: 15px;
}

.Ranking{
    display: flex;
    width: 13vw;
    flex-direction: row;
    background: linear-gradient(to right, #C78813, #FFA600, #C88914);
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 7px;
    border: solid var(--Branco) 2px;
    margin-right: 5px;
}

.Ranking img{
    width: 35px;
    height: 35px;
}

.Ranking h6{
    font-size: 20px;
}

.Ranking_Coluna{
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    margin-left: 20px;
    align-items: center;
}

.Ofensiva{
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    border: solid var(--Branco) 2px;
    border-radius: 7px;
    background-color: var(--bg-principal);
}

.Ofensiva img{
    width: 35px;
    height: 35px;   
}

.Ofensiva h6{
    font-size: 20px;
}

.Ofensiva_Coluna{
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    margin-left: 20px;
    align-items: center;
}

.xp{
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    border: solid var(--Branco) 2px;
    border-radius: 7px;
    background-color: var(--bg-principal);
    margin-left: 5px
}

.xp p{
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    margin-left: 20px;
    align-items: center;
}

.xp_Coluna{
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    align-items: center;
}

.xp img{
    width: 35px;
    height: 35px;       
}

.Atividades{
    margin-top: 25px;
    border: solid var(--Branco) 2px;
    width: 70.1%;
    justify-self: center;
    border-radius: 7px;
    color: var(--texto-principal);
    padding-bottom: 7px;
    background-color: var(--atividade-titulo);
}

.Atividades h4{
    background-color: var(--atividade-titulo);
    border: solid var(--Branco) 2px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding: 5px;
}

.Atividades h6{
    border: solid var(--Branco) 2px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding: 5px;
    text-indent: 20px;
    background: linear-gradient(to right, var(--gradiente1-atividades), var(--gradiente2-atividades), var(--gradiente3-atividades));
}

.Conquistas{
    margin-top: 25px;
    border: solid var(--Branco) 2px;
    width: 70.1%;
    justify-self: center;
    border-radius: 7px;
    color: var(--texto-principal);
    padding-bottom: 7px;
    background-color: var(--atividade-titulo);
}

.Conquistas h6{
    background: linear-gradient(to right, var(--gradiente1-conquistas), var(--gradiente2-conquistas));
    color: #000000;
}