* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100%;
    background-color: var(--bg-secundario);
    padding: 40px 20px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
}

.main h1 {
    text-align: center;
    color: var(--texto-principal);
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;
}


.secao h2 {
    color: var(--texto-principal);
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
    margin-bottom: 14px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    margin: 14px 0px;
    background-color: var(--bg-principal);
    border-radius: 12px;
    padding: 14px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.527);
    cursor: pointer;
    color: var(--texto-secundario);
}

.item:hover {
    transform: scale(1.03);
}

.ativo {
    color: var(--cor-primaria);
}

.check {
    display: none;
}

