.Botao {
    width: 250px;
    padding: 20px 0;
    text-align: center;
}

.Botao a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 20px;
    background: var(--bg-secundario);
    border-radius: 8px;
    color: var(--texto-principal);
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: all 0.2s;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
}

.Botao a:hover{
    transform: translateY(-6px) scale(1.02);
    transition: 0.4 ease;
}

.Botao img {
    width: 32px !important;
    height: 32px;
    margin: 0px !important;
    transform: translateY(-3px);
}

.Botao p {
    display: inline;
    margin: 0px 5px !important;
    font-size: 15px;
}

@media (max-width: 500px) {
    .Botao {
        width: 160px;
    }
    
    .Botao img {
        width: 28px;
        height: 28px;
    }
    
    .Botao p {
        font-size: 14px;
    }
}