.Botao a {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 6px;
    background-color: var(--fundo_secundario_escuro); 

    border-radius: 10px;
    text-decoration: none;
    color: var(--font_principal_escuro);
    font-weight: 600;
    transition: 0.3s;
    border: 0.1px solid #00ff8838;
    box-shadow: 0 0 20px #00ff8850;
}

.Botao a:hover {
    background-color: #151a3f7a;
    transform: scale(1.05);
    transform: translateY(-4px)
}

.Botao img {
    width: 35px;
    height: 35px;
    filter: drop-shadow(0 0 6px #00ff88);
}

.Botao p
{
    color: var(--font_principal_escuro);
    filter: drop-shadow(0 0 3px #00ff88);
    transform: translateY(18px);
    font-size: 26px !important;
}

.Botao
{
    padding-top: 30px;
    padding-bottom: 35px;
    max-width: 40%;
    justify-items: center;
    align-items: center;
}

@media (max-width: 500px) {

    .Botao p{
        font-size: 16px !important;
    }

    .Botao{
        display: flex;
        flex-direction: row-reverse;
        width: 25%;
        margin-left: 20px;
    }
}