@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Cabecalho
{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    height: 9vh;
    color: var(--Branco);
    background-color: var(--Primaria-Azul-Escuro);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    position: sticky;
    position: 0;
    transition: all 0.3s ease;
    z-index: 1;
}

.Cabecalho h5
{
    padding-left: 4px;
    font-size: 40px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: ExtraBold;

    color: transparent;
    background: linear-gradient(135deg, #00ff88, #00c8ff);
    -webkit-background-clip: text;
    background-clip: text;
}

.logo_legal
{
    
    width: 60px !important;
    height: 60px !important;
}

.Cabecalho img
{
    height: 45px;
    width: 45px;
  
}

/* .Login
{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.Config
{
   margin-left:10px; 
} */

.Direita
{   
    display: flex;
    gap: 10px;
    margin-left: auto;
      padding-right: 10px;
}

.Cabecalho a
{
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--Branco);
}

.Scrolled {
  height: 6vh;
  background-color: var(--Primaria-Azul-Escuro); /* já usa sua variável */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
}
