* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main {
    background-color: var(--bg-principal);
    width: 22vw;
    height: 92vh;
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.barraLateral {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    padding-top: 110px;
    padding-left: 10px;
}

.itensBarraLateral {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}

.itemBarraLateral {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemBarraLateral:hover {
    transform: rotate(2deg) scale(1.04) translateY(-2px);
}

.itemBarraLateral img {
    width: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.itemBarraLateral span {
    color: var(--texto-principal);
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 40px;
}

.ativo {
    color: var(--cor-primaria);
}

.ativo span {
    color: var(--cor-primaria);
}

.Conteudos {
    width: 100%;
    height: 100%;
}