@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.corpo{
    background-color: var(--bg-principal);
}

.Rodape
{   
    padding-left: 10px;
    /* left: 0; */
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start;

    gap: 15px;
    /* padding: 20px; */

    color: var(--texto-secundario);
    background-color: var(--Rodape);

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;

    border-top: 1px solid rgba(0, 0, 0, 0.24);

    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
    margin-left: 20px;
}

.Rodape img
{
    width: 44px;
    height: 44px;
}

.Marca
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    /* max-width: 250px; */
    margin-right: 20px;
}

.Marca p{
    /* margin-left: 30px   ; */
    width: 350px;
    text-align: center;
    margin-top: 30px;
}

.Colunas {
    display: flex;
    gap: 100px;
    width: 95%;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 120px;

}

.Colunas div.informacoes {
    display: flex;
    flex-direction: column; 
    gap: 8px;
    /* column-count: 2; */
}

h5 {
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 20px;
    color: var(--texto-principal);
}

.Colunas p{
    font-size: 15px;
}


.RedesSociais{
    width: 20vw;
    gap: 10px;
    justify-content: space-between;
}

.RedesSociais img{
    margin: 10px;

}

.Tamanho{
    display: flex;
    width: 10px;
    /* height: 40px; */
}

.Copy {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
}

.Rodape h4
{
    font-size: 30px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: transparent;
    background: linear-gradient(135deg, #00ff88, #00c8ff);
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: 10px;
}

.Rodape a
{
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--texto-principal);
}

.Copy{
    font-size: 13px;
}

.informacoes{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 10px;
}

.informacoes h5{
    color: var(--texto-secundario);
    text-align: start;
}

    .hamburger {
        background: none;
        border: none;
        color: var(--texto-principal);
        font-size: 26px;
        cursor: pointer;

        margin-right: 20px;
    }

    .hamburger:hover{
        background: none;
    }
    
    
@media (max-width: 600px) {
    

    .infoCabecalho{
        width: 85vw;
        height: 100%;
        justify-content: flex-start;
        margin-left: 0px;
    }

    .logo_legal{
        /* display: block; */
        width: 45px !important;
        height: 45px !important;
        margin-left: 10px;
        margin-top: 5px;
    }

    .Cabecalho h5{
        justify-content: center;
        font-size: 26px;
        margin-right: 0px;
    }

    .hamburguer{
        flex-direction: row;
        width: 100vw;
        font-size: 20px !important;
        height: 5vh;
    }
    
}


@media (max-width: 800px){
    .Container{
        flex-direction: column;
        margin-left: 0px;
    }

    .Marca{
        margin: auto;
    }

    .Marca p{
        display: none;
    }

    .informacoes{
        align-content: flex-start;
    }

    .informacoes h5{
        text-align: start;
    }

    .informacoes p{
        text-align: start;
    }
    
}